* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background-color: #d9dcd6;
}
/* Changed .header class reference to the header element */
header {
    padding: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #2a607c;
    color: #ffffff;
}
/* Changed .header class reference to the header element */
header h1 {
    display: inline-block;
    font-size: 48px;
}
/* Removed ".header h1" from this class reference, as .seo is already unique */
.seo {
    color: #d9dcd6;
}
/* Removed the "div" element reference as it was unnecessary */
header ul {
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}
/* Removed the "div" element reference as it was unnecessary */
header ul {
    list-style-type: none;
}
/* Removed the "div" element reference as it was unnecessary */
header ul li {
    display: inline-block;
    margin-left: 25px;
}

a {
    color: #ffffff;
    text-decoration: none;
}

p {
    font-size: 16px;
}
/* Changed .hero from a class to an id as it is unique and only used once */
#hero {
    height: 800px;
    width: 100%;
    margin-bottom: 25px;
    background-image: url("../images/digital-marketing-meeting.jpg");
    background-size: cover;
    background-position: center;
}

.float-left {
    float: left;
    margin-right: 25px;
}

.float-right {
    float: right;
    margin-left: 25px;
}
/* Changed .content from a class to an id as it is unique and only used once */
#content {
    width: 75%;
    display: inline-block;
    margin-left: 20px;
}
/* Changed .benefits from a class to an id as it is unique and only used once */
#benefits {
    margin-right: 20px;
    padding: 20px;
    clear: both;
    float: right;
    width: 20%;
    height: 100%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #2589bd;
}

/* Changed multiple classes that do the same thing to one that is referenced multiple times */
#benefits section {
    margin-bottom: 32px;
    color: #ffffff;
}

/* Changed the multiple h3 references into one that is referenced multiple times*/
#benefits h3 {
    margin-bottom: 10px;
    text-align: center;
}

/* Changed the multiple img references into one that is referenced multiple times */
#benefits img {
    display: block;
    margin: 10px auto;
    max-width: 150px;
}

/* Changed the 3 different sections that did the same thing to one that is referenced multiple times */
#content section {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
}

/* Changed the 3 img references to one that is referenced multiple times */
#content img {
    max-height: 200px;
}

/* Changed the h2 references to one that is referenced multiple times */
#content h2 {
    margin-bottom: 20px;
    font-size: 36px;
}
/* Removed the footer class and changed the css references to point to the footer element instead */
footer {
    padding: 30px;
    clear: both;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
}

footer h2 {
    font-size: 20px;
}
